
:root{
    --hover-color: #b80209;
    --card-color: #F4212D;
    --grid-gap: 3px;
    --gray-background: #e5e2e2;
}

@font-face {
    font-family: 'aller_lightregular';
    src: url('../fontes/Aller_Lt/aller_lt-webfont.woff2') format('woff2'),
            url('../fontes/Aller_Lt/aller_lt-webfont.woff') format('woff'),
            url('../fontes/Aller_Lt/aller_lt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;    
}
    @font-face {
    font-family: 'aller_displayregular';
    src: url('../fontes/Aller_Lt/allerdisplay-webfont.woff2') format('woff2'),
            url('../fontes/Aller_Lt/allerdisplay-webfont.woff') format('woff'),
            url('../fontes/Aller_Lt/allerdisplay-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;    
}
@font-face {
    font-family: 'allerbold';
    src: url('../fontes/Aller_Bd/aller_bd-webfont.woff2') format('woff2'),
            url('../fontes/Aller_Bd/aller_bd-webfont.woff') format('woff'),
            url('../fontes/Aller_Bd/aller_bd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;    
}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 9vw;
    font-family: allerbold;
    font-size: 9vw;
}

body{
    display: grid;
    /* grid-template-rows: 1em auto; */
    grid-template-rows: 9vw auto;
    grid-template-columns: auto;
}

body img {
    max-height: 100%;
    max-width: 100%;
}

body input {
    font-size: 100%;
    width: 95%;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body button{
    outline: none;
}

.navbar{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    text-decoration: none;
}

a, a *{
    text-decoration: none;
    cursor: pointer;
}

.navbar img{
    height: 60%;
}
.navbar > :last-child{
    justify-self: left;
    padding-left: 10px;
}
.card{
    background-color: var(--card-color);
    color: white;
    padding: 10px;
    justify-items: center;
    align-items: center;
}

.card-button{
    display: grid;
    text-decoration: none;
}

.card-button:hover{
    background-color: var(--hover-color);
}

.title{
    display: grid;
    align-items: center;
}

.grid-collumn-span-3{
    grid-column: span 3;
}

.grid-collumn-span-2{
    grid-column: span 2;
}

.grid-row-span-2{
    grid-row: span 2;
}

.grid-row-span-3{
    grid-row: span 3;
}
.grid-collumn-span-6{
    grid-column: span 6;
}

.hide{
    display: none !important;
}

.v-image-desc{
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: auto;
    place-content: center;
    font-size: 35%;
}

.h-image-desc{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 35%;
}
 
.h-image-desc > :last-child {
    justify-self: center;
}

@media screen and (orientation: landscape)
{
    body{
        font-size: calc(30px) ;
    }

    .h-image-desc{
        font-size: 40%;
    }

    .h-image-desc > :last-child {
        justify-self: left;
    }

    .v-image-desc{
        grid-template-rows: 1.5fr 1fr;
        font-size: 40%;
    }
}