.index-grid
{
    display: grid;
    grid-template-rows: auto auto min-content;
    grid-template-columns: auto;
    grid-gap: var(--grid-gap);
}

@media screen and (min-aspect-ratio: 6/5)
{
    .index-grid{
        display: grid;
        grid-template-rows: auto min-content; 
        grid-template-columns: minmax(50%, 60%) auto;
        grid-template-areas:
            "content nit"
            "anonimo anonimo ";

    }
    .index-grid .nit{
        font-size: 80%;
        grid-area: nit;
    }
    .index-grid .acesso-anonimo{
        font-size: 80%;
        grid-area: anonimo;
    }
}

.nit{
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    text-align: center;
    font-family: aller_lightregular;
    font-size: 80%;
}

.nit *{
    padding: 10px;
}

.nit > :last-child{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    font-family: allerbold; 
}

.acesso-anonimo{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    text-align: justify;
    font-size: 80%; 
}

.acesso-anonimo div{
    padding-right: 15px;
    padding-left: 15px;
}